body {
	margin: 0;
	padding: 0;
	background-color: aqua;
}

.box {
	display: flex;
	align-items: center;
	justify-content: center;
}

.grid > div {
	background-color: #ccc;
	border: solid 1px #999;
}

/* définition du container grid. la somme des élément doit faire 100 pour couvrire toute la ligne */
.grid {
	display: grid;
	grid-template-columns: 5fr 5fr;
	grid-template-rows: 100%;
	grid-column-gap: 2px;
}
a:hover {
	color: #c4d1de;
}

a {
	position: absolute;
	bottom: 10rem;
	right: 20rem;
	z-index: 0;
	color: #113459;
	background-color: #113459;
}
